<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">OcultoStudio</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header class="ion-text-center">
        <h3>Crear cuenta</h3>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su Nombre" [(ngModel)]="nombre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating" placeholder="Ingrese su Apellido" [(ngModel)]="apellido"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Rut" labelPlacement="floating" placeholder="Ingrese su Rut" type="number" [(ngModel)]="rut"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Correo electronico" labelPlacement="floating" type="email" placeholder="Ingrese su Correo" [(ngModel)]="correo"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Telefono" labelPlacement="floating" placeholder="Ingrese su telefono" type="number" [(ngModel)]="telefono"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" type="password" placeholder="Confirme su contraseña" [(ngModel)]="confirmarPassword" ></ion-input>
      </ion-item>
      <br>
      <div class="botones">
        <ion-button  (click)="registro()" color="tertiary">Confirmar</ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>