<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >OcultoUsuarios</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-list >
    <ion-item-sliding *ngFor="let usuario of arregloUsuarios">
      <ion-item>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          {{usuario.nombre}}
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="visualizarUsuario(usuario)">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(usuario)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>





</ion-content>
